table{
    width: 100%;
}


  .posicion-uno{
      width: 10%;
  }

  .posicion-dos{
    width: 30%;
    cursor: pointer;
  }

  .posicion-tres{
    width: 20%;
  }

  .posicion-cuatro{
    width: 30%;
  }

  .posicion-movil{
      width: 50%;
  }

  .haber{
      width: 100% !important;
  }
