mat-drawer{
    width: 50%;
  
}

mat-drawer-container{
    height: 100%;
    position: fixed;
    width: 100%;
}

mat-drawer-content{
    width: 100%;
    
}
.haber{
    width: 100%;
}

button{
    
    position: fixed;
    right: 40px;
    bottom: 25px;
    
}

app-contactos-content{
    height: 100%;
}

.sidebar-open{
    
    position: fixed;
    right: 40px;
    bottom: 90px;
    
}